<section class=newsletter>
  <h2>Do you want to be notified of new posts?</h2>
  <p>No spam, ever!</p>
  <form id="newsletter-form">
    <input type="text" name="name" placeholder="Your name" required />
    <input type="email" name="email" placeholder="Your email" required />
    <div id="turnstile-widget"></div>
    <button type="submit" disabled>Register</button>
    <p class="hidden" id="subscription-success">Subscription received successfully. In a few minutes you should receive a confirmation email. Click the link there to confirm your subscription. Thank you!</p>
    <p class="hidden" id="subscription-error">There was an error submitting your subscription. Please try again later.</p>
  </form> 
</section>
